#container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  grid-gap: 15px;
}

#sidebar{
  grid-column-start: 1;
  grid-column-end:5;
  grid-row-start: 1;
  grid-row-end: 17;
  background-color: red;
}

#fishing{
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 5;
  background-color: blue;
}
